<div class="navbar navbar-inverse set-radius-zero " style="background-color:#324041;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href= "/home">
          <img src="images/logo.png" style="width: 80%" />
        </a>
      </div>
      <div class="right-div">
        <a href="/login" class="btn btn-logout btn-danger pull-right">ĐĂNG XUẤT</a>
      </div>
    </div>
  </div>
  <!-- LOGO HEADER END-->
  <section class="menu-section">
    <div class="container">
      <div class="row ">
        <div class="col-md-12">
          <div class="navbar-collapse collapse ">
            <ul id="menu-top" class="nav navbar-nav navbar-right">
              <li><a href="/home">THỐNG KÊ</a></li>
              <li><a href="/order">ĐƠN ĐẶT HÀNG</a></li>
              <li><a href="/store">GIAN HÀNG</a></li>
              <li><a href="/product">SẢN PHẨM</a></li>
              <li><a href="/user">NGƯỜI DÙNG</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </section>