<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h2 class="footer-title">ShopPhukien</h2>
                        <p>Cửa hàng phụ kiện công nghệ</p>
                        <ul class="footer-links">
                            <li><i class="fa fa-map-marker"></i>227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh</li>
                            <li><i class="fa fa-phone"></i>Hotline: 999999999</li>
                            <li><i class="fa fa-envelope-o"></i>shopphukien.tttteam@gmail.com</li>
                            <li><i>Giờ mở cửa </i>
                                <br /><b>7:30 - 21:00</b> Thứ Hai đến Thứ Bảy
                                <br /><b>8:00 - 20:00</b> Chủ nhật
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">CỬA HÀNG</h3>
                        <ul class="footer-links">
                            <li><a href="/">Trang chủ</a></li>
                            <li><a href="/store">Tất cả sản phẩm</a></li>
                            <li><a href="/cart">Giỏ hàng</a></li>
                            <li><a href="/users/profile">Tài khoản của tôi</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-xs-6">
                    <div class="footer">
                            <h3 class='footer-title'>CHI NHÁNH</h3>
                            <div class='footer-address-item'>200 Lê Văn Việt, Phường Tăng Nhơn Phú B, Quận 9, Thành phố Hồ Chí Minh</div>
                            <div class='footer-address-item'>417 Quang Trung, Phường 10, Quận Gò Vấp, Thành phố Hồ Chính Minh</div>
                            <div class='footer-address-item'>59 Sư Vạn Hạnh, Phường 12, Quận 10, Thành phố Hồ Chí Minh</div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="footer">
                        <div class='footer-subcribe'>
                            <b class='footer-mail-title'>NHẬN BẢN TIN <b class='footer-mail-title-add'>CỦA CHÚNG TÔI</b></b>
                            <div class='footer-mail-content'>
                                <p>Đăng ký ngay để không bỏ lỡ hàng ngàn sản phẩm chất lượng và những chương trình khuyến mãi siêu hấp dẫn của chúng tôi</p>
                                <div class='custome-register-mail-input'>
                                    <input type='text' autoComplete='email' placeholder='Email' />
                                    <button>Đăng ký</button>
                                </div>
                                <div class='footer-social-contain'>
                                    <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                                    <i class="fa fa-google fa-2x" aria-hidden="true"></i>
                                    <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /top footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>

</body>

</html>