<div class="container" style="padding: 50px;">
    <h1>Kích hoạt tài khoản thành công</h1>
    <p>Bạn đã kích hoạt tài khoản thành công, giờ đây bạn có thể đăng nhập và sử dụng các dịch vụ của chúng tôi.</p>
    <a class="primary-btn order-submit" href="/users/login">Đến trang đăng nhập</a>
</div>