
<div class="container">
    <div class="home">
        <div class="home_container ">
            <div class="home_content text-center">
                <div class="home_title">Đổi mật khẩu</div>
            </div>
        </div>
    </div>
    <div id="content" class="row">
        <div class="col-lg-6 content-box-container">
            <form method="POST" action="/users/change-password">
                <div id="content-box">
                    <div class="input-row">
                        <p class="input-title">Mật khẩu cũ</p>
                        <input class="typing-input" name="oldPassword" type="password" placeholder="Nhập mật khẩu cũ" required>
                    </div>
                    <div class="input-row">
                        <p class="input-title">Mật khẩu mới</p>
                        <input class="typing-input" type="password" id="password" placeholder="Mật khẩu phải có độ dài hơn 6 kí tự"
                            pattern=".{7,}" title="Mật khẩu phải có độ dài hơn 6 kí tự" required>
                    </div>
                    <div class="input-row">
                        <p class="input-title">Xác nhận mật khẩu mới</p>
                        <input class="typing-input" type="password" id="passwordConfirm" placeholder="Mật khẩu phải có độ dài hơn 6 kí tự"
                            name="newPassword" oninput="check(this)" required>
                    </div>
                    <div id="input-row-last">
                        <button type="submit" class="btn btn-danger button">ĐỔI MẬT KHẨU</button>
                    </div>

                    <div class="mes-err-login"><%- include ('../../partials/messages') %></div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Mật khẩu không khớp');
        } else {
            input.setCustomValidity('');
        }
    }
</script>