<div class="container" style="padding: 50px;">
    <h1>Quên mật khẩu</h1>
    <form action="/users/forget-password" method="POST">
        <p>Vui lòng nhập địa chỉ email đã đăng ký. Một mã xác minh sẽ được gửi đến. Khi đã nhận được
            mã xác minh, bạn sẽ có thể chọn mật khẩu mới cho tài khoản của mình.
        </p>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" name="email"
                placeholder="Nhập email">
        </div>
        <button type="submit" class="btn btn-primary">Gửi email</button>
    </form>
    <%- include ('../../partials/messages') %>
</div>